*{
    margin-top: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(97, 95, 95);
}
.textDisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    height: 200px;
    width: 100%;
    padding-top: 50px;
}
.textDisplay p{
    color: white;
    font-size: 40px;
}
.dialogue {

    text-align: center;
    height: 100px;
    width: 100%;
}
.dialogue p{
    color: white;
    font-size: 40px;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button{
    width: 250px;
    height: 250px;
    color: white;
    background-color: rgb(138, 98, 24);
}
#button1{
    background:url(https://www.freeiconspng.com/thumbs/rock-png/big-rock-png-picture-16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#button2{
    background:url(https://png.pngtree.com/png-vector/20220624/ourmid/pngtree-torn-notebook-paper-white-coil-png-image_5317122.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#button3{
    background:url(https://png.pngtree.com/element_our/20190529/ourmid/pngtree-an-office-scissors-illustration-image_1227636.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}